* {
    font-family: "Jost", sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #eff4f9;
    -webkit-font-smoothing: antialiased;
    color: #545e6f;
}
a {
    text-decoration: none;
    outline: 0;
}
